
{% if role == "Admin" %}
    {% extends "base.html" %}
{% else %}
    {% extends "base2.html" %}
{% endif %}

{% block title %}Library Loan System - Home{% endblock %}
{% block content %}

<style>
    p{
    font-size:30px;
    }
    b{
    font-size:30px;
    }
</style>
<!--<script>
   $(document).ready(function(){
            var socket = io();

    });
</script>-->


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">

        <h4>Setup Backup Code </h4>
      </div>
    </div>
    <div class="col-lg-5">
      <form>
        <div>
          <h5>Instructions!</h5>
          <ul>
            <li>This is code can only be used <b>Once</b> </li>
            <li>Plese do keep a copy of this , its recommended to print out an hard copy for this !</li>
            <li>Please do not share this backup code with anyone </li>
          </ul>
        </div >
           <div class="form-group">
          <input type="text" class="form-control" id="secret" value="{{ backup }}" readonly>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" onclick="copySecret()">Copy backup code </button>
        </div>

    </div>

    <div class="col-lg-7">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
<a href="/Settings"><button class="btn btn-primary" type="button">Return</button></a>

<script>
  function copySecret() {
    /* Get the text field */
    var copyText = document.getElementById("secret");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    alert("Successfully copied backup code !");
  }
</script>
{% endblock %}



