<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "bryanbase.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<h1 class="'display-4">About Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#Owners">Food</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Outlets">Service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="Contact Us">Hygiene</a>
  </li>
    <li class="nav-item">
    <a class="nav-link " data-toggle="tab" href="#DIT">Ambience</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " data-toggle="tab" href="">Delivery</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="Owners">
<br>
    <h2>JHEB</h2>
    <br>
<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chai Hong Ji</td>
          <td>CEO</td>
          <td><a href="mailto:Iamchaihongji@gmail.com">
Iamchaihongji@gmail.com</a></td>
        </tr>
        <tr>
          <td>Jolene Ng</td>
          <td>CEO</td>
          <td><a href="mailto:Iamjoleneng@gmail.com">
Iamjoleneng@gmail.com</a></td>
        </tr>
        <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      <tr>
          <td>Mohd Erfan</td>
          <td>CEO</td>
          <td><a href="mailto:Iamerfan@gmail.com">
Iamerfan@gmail.com</a></td>
        </tr>
      </tbody>
      </table>
  </div>
    <div class="tab-pane container-fluid fade" id="">
      <br>
    <h2>IT1366 App Development Project</h2>
    <br>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Alvin Tay</td>
          <td>Module Leader</td>
          <td><a href="mailto:alvin_tay@nyp.edu.sg">
alvin_tay@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Verawaty</td>
          <td>Module Tutor</td>
          <td><a href="mailto:verawaty@nyp.edu.sg">
verawaty@nyp.edu.sg</a></td>
        </tr>
      </tbody>
      </table>
    </div>



  <div class="tab-pane container-fluid fade" id="DCS">
     <br>
    <h2>IT1666 App Development Project</h2>
  <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ms. Andrea Tan</td>
          <td>Module Leader</td>
          <td><a href="mailto:andrea_tan@nyp.edu.sg">
chai_min_shiung@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:TAN_SEW_LAN@myaccount.nyp.edu.sg">
TAN_SEW_LAN@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Teh Ah Hock</td>
          <td>Module Tutor</td>
          <td><a href="mailto:teh_ah_hock@nyp.edu.sg">
teh_ah_hock@nyp.edu.sg</a></td>
        </tr>
      </tbody>

    </table>
  </div>
     <div class="tab-pane container-fluid fade" id="DBA">
      <br>
    <h2>IT1366 App Development Project</h2>
    <br>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Alvin Tay</td>
          <td>Module Leader</td>
          <td><a href="mailto:alvin_tay@nyp.edu.sg">
alvin_tay@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Verawaty</td>
          <td>Module Tutor</td>
          <td><a href="mailto:verawaty@nyp.edu.sg">
verawaty@nyp.edu.sg</a></td>
        </tr>
      </tbody>
      </table>
    </div>

</div>

{% endblock %}
</body>
</html>