{% extends "base3.html" %}

{% block content %}
{% from "includes/_formsHelper.html" import render_field %}


<h1 class="display-4">Create new account</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.Username, class="form-control") }}
  </div>

  <div class="form-group">
    {{ render_field(form.Phone_Number, class="form-control")  }}
  </div>
  <div class="form-group">
    {{ render_field(form.NRIC, class="form-control")  }}
  </div>
  <div class="form-group">
    {{ render_field(form.Email, class="form-control")  }}
  </div>
  <div class="form-group">
    {{ render_field(form.Security_Questions, class="form-control")  }}
  </div>
  <div class="form-group">
    {{ render_field(form.Answers, class="form-control")  }}
  </div>
    <div class="form-group">
    {{ render_field(form.Password, class="form-control")  }}
  </div>
  <div id="prof">
    <div class="form-group">
      {{ render_field(form.Address, class="form-control") }}
    </div>
  </div>
  <div class="form-group">
    {{ render_field(form.role, class="form-control")  }}
  </div>
  <div class = "msg">{{ msg }}</div>
   <input type="submit" value="Submit" class="btn btn-primary"/>
  <td><a href="/login" class="btn btn-warning">Return</a></td>
   </div>


</form>
{% endblock %}
