
{% if role == "Admin" %}
    {% extends "base.html" %}
{% else %}
    {% extends "base2.html" %}
{% endif %}

{% block title %}Library Loan System - Update User{% endblock %}

{% block content %}
{% from "includes/_formsHelper.html" import render_field %}

<form action="/validate" method="post">
    <h1>One time password has been sent to {{session['email']}}.  please check </h1>
    Enter OTP: <input type="text" name="otp">
    <input type="submit" value="Submit">
</form>
<a href="/Settings"><button class="btn btn-primary" type="button">Return</button></a>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
   $(document).ready(function(){
            var socket = io();

    });
</script>-->





{% endblock %}