{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block head %}
{{ super() }}



{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container-fluid">


                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                        <a href="/ActivityLogUser">← Back to Home page</a>
                    </div>

                </div>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
   $(document).ready(function(){
            var socket = io();

    });
</script>-->

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}