{% if role == "Staff" %}
    {% extends "base.html" %}
{% elif role == "Admin" %}
    {% extends "base.html" %}
{% else %}
    {% extends "base2.html" %}
{% endif %}

{% block title %}Library Loan System - Update User{% endblock %}

{% block content %}
{% from "includes/_formsHelper.html" import render_field %}
<br>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
<p>Email verification Fail 1 :(  </p>
<a href="/EmailOtpCheck"><button class="btn btn-light btn-sm ml-auto" type="button">Email otp</button>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
   $(document).ready(function(){
            var socket = io();

    });
</script>-->

{% endblock %}