{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}

{% block content %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}



</script>

<h1 class="display-4">Retrieve reservation details management</h1>
<div>
  {% if count == 0 %}
  <p>There are no reservation detail.</p>
  {% elif count == 1 %}
  <p>There is 1 reservation details.</p>
    {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<input type="text" id="myInput" onkeyup="myFunction(),myFunction2()"  placeholder="Search for User ID" title="Type in a name">



<div>
  <div ></div>
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Dates of reservation</th>
        <th>Number of People</th>
        <th>Phone Number</th>
        <th>Table Number</th>
        <th>Booking Time</th>
        <th>Status of this form</th>
        <th>Remarks</th>


        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
        <tr >
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_username() }}</td>
        <td>{{ user.get_date() }}</td>
        <td>{{ user.get_no_ppl() }}</td>
        <td>{{ user.get_phone_no() }}</td>
        <td>{{ user.get_table_no() }}</td>
        <td>{{ user.get_booking_time() }}</td>
        <td>{{user.get_status()}}</td>
        <td>{{ user.get_remarks() }}</td>




<!-- The Modal -->
<div class="modal" id="myModal_{{user.get_user_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">





    </div>
  </div>
</div>
          </form>
        </td>
          </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
