
{% if role == "Admin" %}
    {% extends "base.html" %}
{% else %}
    {% extends "base2.html" %}
{% endif %}

{% block title %}Library Loan System - Update User{% endblock %}

{% block content %}
{% from "includes/_formsHelper.html" import render_field %}

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
   $(document).ready(function(){
            var socket = io();

    });
</script>-->


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">

        <h4>Setup your Phone Number  </h4>
      </div>
    </div>
    <div class="col-lg-5">
      <form>
        <div>
          <h5>Instructions!</h5>
          <ul>
            <li>Enter your Phone number that is contactable  </li>
            <li>example 8888 8888 </li>
            <li>This Phone Number that you have enter will receive Otp in the future for Sms Otp </li>
          </ul>
        </div>

      </form>
    </div>

    <div class="col-lg-7">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form action="/Forcephn"  method="POST">
        <div class="form-group">
          <label for="phn">Enter your Phone Number</label>
          <input type="text" class="form-control" id="phn"  name="phn" pattern="\d{4}\d{4}$"  required>


        </div>
        <div class="text-center">
          <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div> <br/>
          <button type="submit" class="btn btn-primary" >Comfirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<a href="/Settings"><button class="btn btn-primary" type="button">Return</button></a>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}