<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat room</title>

</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $("#Plzwork").click(function(){
            var socket = io();
            socket.emit("message",{data:"testing"});
            socket.emit('disconnect');
            socket.emit('Pepe');
        });
    });


    $(document).ready(function(){
        $("#Wow").click(function(){
            var socket = io();

            socket.emit('Pepe');

        });
    });
    $(document).ready(function(){

            var socket = io();

            socket.on('connect',function() {
                socket.emit('message',{data:'Im connected BTW!'});

            });


    });

</script>
<p id="Hideme">TESTING LOL</p>
<button id = "Plzwork">CLICK ME PLZ</button>
<button id = "Wow">CLICK ME PLZ</button>
<button id = "Disconnect">Disconenct plz</button>
<p id = 'demo'></p>

<h1>YEET </h1>




</body>
</html>