{% extends "base2.html" %}
{% block title %}Library Loan System - Dashboard{% endblock %}

{% block content %}

<head>
    <style>
    #myChart {
    width:100%;
    height:auto;

    }

    #titletablelol {
    text-align: center;

    }
    #MYInput {
    width:20%;
    }

div.ex3 {
  background-color: white;
  height: 585px;
  width: 627px;
  overflow-y: auto;
}
.demoFont {
font-family: Georgia, serif;
font-size: 16px;
letter-spacing: 0.6px;
word-spacing: 0px;
color: #27AAFF;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
}

    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>





    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">



        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Password Change time</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ password_update_time }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Security Level
                                            </div>
                                            {% if Value_of_security <= 25 %}
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ Value_of_security }}%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            style="width: {{ Value_of_security }}%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% elif Value_of_security > 25 and Value_of_security < 50 %}
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ Value_of_security }}%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            style="width: {{ Value_of_security }}%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% elif Value_of_security >= 50 and Value_of_security < 75 %}
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ Value_of_security }}%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{ Value_of_security }}%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ Value_of_security }}%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-success" role="progressbar"
                                                            style="width: {{ Value_of_security }}%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info">
                                    <h6 class="m-0 font-weight-bold text-primary">Testing Graph</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 bg-dark">
                                    <h6 class="m-0 font-weight-bold text-primary">Your Account Security Level</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Current Security Level<span
                                            class="float-right">{{ Value_of_security }}%</span></h4>


                                    {% if Value_of_security <= 25 %}
                                    <div class="progress">
                                          <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
                                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ Value_of_security }}%">
                                              {{ Value_of_security }}%
                                          </div>
                                        </div>
                                    {% elif Value_of_security > 25 and Value_of_security < 50 %}
                                    <div class="progress">
                                          <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ Value_of_security }}%">
                                              {{ Value_of_security }}%
                                          </div>
                                        </div>
                                    {% elif Value_of_security >= 50 and Value_of_security < 75 %}
                                    <div class="progress">
                                          <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ Value_of_security }}%">
                                              {{ Value_of_security }}%
                                          </div>
                                        </div>
                                    {% else %}
                                    <div class="progress">
                                          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ Value_of_security }}%">
                                              {{ Value_of_security }}%
                                          </div>
                                        </div>



                                    {% endif %}

                                    <h4 class="small font-weight-bold">Ways to improve your security Level
                                            </h4>








                                    {% if Value_of_security == 25 %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>
                                    {% elif Value_of_security == 35 %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>


                                    {% elif Value_of_security == 40 %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>



                                    {% elif Value_of_security == 50%}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>

                                    {% elif Value_of_security == 55  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>
                                    {% elif Value_of_security == 65  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>

                                    {% elif Value_of_security == 70  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>


                                    {% elif Value_of_security == 75  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>


                                    {% elif Value_of_security == 80  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>

                                    {% elif Value_of_security == 85  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>

                                    {% elif Value_of_security == 90  %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>




                                    {% elif Value_of_security == 100 %}
                                    <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password    <span class="demoFont">25</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification <span class="demoFont">10</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Attempts Notification <span class="demoFont">15</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate any method of 2FA <span class="demoFont">30</span></a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate two or more method of 2FA <span class="demoFont">20</span></a>
                                    </div>



                                    {% endif %}




                                        <!--{% if Value_of_security == 25 %}
                                    <div class="list-group">
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password</a>


                                          <div class="demoFont" align="center">25%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Login Notification or Activate Login attempts Notification</a>
                                          <div class="demoFont" align="center">50%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate One method of 2FA</a>
                                          <div class="demoFont" align="center">75%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Two or more methods of 2FA</a>
                                          <div class="demoFont" align="center">100%</div>

                                        </div>
                                    {% elif Value_of_security == 50 and (EmailLoginNotif == 1 or AttemptedLoginNotification == 1) %}
                                    <div class="list-group">
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password</a>


                                          <div class="demoFont" align="center">25%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification or Activate Login attempts Notification or One method of 2FA</a>
                                          <div class="demoFont" align="center">50%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Two methods of 2FA</a>
                                          <div class="demoFont" align="center">75%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Activate Two or more methods of 2FA and activate security report.</a>
                                          <div class="demoFont" align="center">100%</div>

                                        </div>
                                    {% elif Value_of_security == 75 %}
                                    <div class="list-group">
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password</a>


                                          <div class="demoFont" align="center">25%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification or Activate Login attempts Notification</a>
                                          <div class="demoFont" align="center">50%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate One method of 2FA</a>
                                          <div class="demoFont" align="center">75%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Two or more methods of 2FA</a>
                                          <div class="demoFont" align="center">100%</div>

                                        </div>
                                    {% else %}
                                    <div class="list-group">
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Strong Password</a>


                                          <div class="demoFont" align="center">25%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Login Notification or Activate Login attempts Notification</a>
                                          <div class="demoFont" align="center">50%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate One method of 2FA</a>
                                          <div class="demoFont" align="center">75%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Activate Two or more methods of 2FA</a>
                                          <div class="demoFont" align="center">100%</div>
                                          <a href="#" class="list-group-item list-group-item-action list-group-item-info">Congrats on reaching 100% security level.</a>
                                        </div>
                                    {% endif %}-->


                                </div>
                            </div>


                            <!-- Color Systm -->


                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 bg-dark">
                                    <h6 class="m-0 font-weight-bold text-primary">User Activity</h6>
                                </div>
                                <div class="ex3">    <div class="card-body">

                                    <div class="text-center">

                                        <input class="form-control" id="MYInput" type = 'text' placeholder = 'Search...'>
                                    </div>
                                    <div class = table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead class="thread-dark">
                                            <th id="titletablelol" colspan="6">Your Activity</th>

                                        </thead>
                                      <thead class="thread-dark">
                                        <tr>
                                          <th scope ="col">Count</th>
                                          <th scope="col">Level</th>
                                          <th scope="col">Date and Time</th>
                                          <th scope="col">Action</th>
                                          <th scope="col">IP address</th>
                                          <th scope="col">IP Location</th>
                                        </tr>
                                      </thead>
                                      <tbody id="MYTable">

                                      {% for i in userlistactivity %}

                                        <tr>

                                          <th scope="row">{{ loop.index }}</th>
                                          <td><span class="badge badge-success">Success</span></td>
                                          <td>{{ i['TimeOfActivity'] }}</td>
                                          <td>{{ i['EventType'] }}</td>
                                          <td>{{ i['IP_Address'] }}</td>
                                          <td>{{ i['Location'] }}</td>

                                        </tr>
                                       {% endfor %}

                                    </table>
                                    </div>   <!-- div tag for table div -->
                                </div>   <!-- whatever that is inside this div goes inside body -->
                            </div></div>


                            <!-- Approach -->



                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/JavaScript/Searchbar.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="../static/JavaScript/Piechart.js"></script>
    <script src="../static/JavaScript/FirstGraph.js"></script>


</body>

</html>
{% endblock %}