{% extends "base.html" %}
{% block title %}Library Loan System - Dashboard{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    #titletablelol {
    text-align: center;

    }
    #myInput {
    width:20%;
    }
    div.ex3 {

  height: 300px;
  width: 1400;
  overflow-y: auto;
}


</style>
<h1>User management</h1>


<div class = table-responsive">
  <input class="form-control" id="myInput" type = 'text' placeholder = 'Search...'>
<div class="ex3">

<table class="table table-hover table-bordered table-dark">
    <thead class="thread-dark">
        <th id="titletablelol" colspan="7">User Accounts</th>

    </thead>
  <thead class="thread-dark">
    <tr>
      <th scope ="col" style="text-align:center">#</th>
      <th scope="col" style="text-align:center">User</th>
      <th scope="col" style="text-align:center">Date Created</th>
      <th scope="col" style="text-align:center">Status</th>
      <th scope="col" style="text-align:center">Role</th>
      <th scope="col" style="text-align:center">Security Level</th>
      <th scope="col" style="text-align:center">Settings</th>
    </tr>
  </thead>
  <tbody id="myTable" class="ex3">
  {% for lol in allaccounts %}
    <tr>
      <th scope="row">{{ lol['ID'] }}</th>
      <td style="text-align:center">{{ lol['Username'] }}</td>
      <td style="text-align:center">{{ lol['account_creation_time'] }}</td>

        {% if lol['Account_Status'] == 'Banned' %}
        <td style="text-align:center"><span class="badge badge-danger">{{ lol['Account_Status'] }}</span></td>
        {% elif lol['Account_Status'] == 'Disabled' %}
        <td style="text-align:center"><span class="badge badge-warning">{{ lol['Account_Status'] }}</span></td>
        {% else %}
        <td style="text-align:center"><span class="badge badge-success">{{ lol['Account_Status'] }}</span></td>
        {% endif %}
      <td style="text-align:center">{{ lol['role'] }}</td>
      <td style="text-align:center">{{ lol['Security_Level'] }}</td>
      <td style="text-align:center"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal{{ lol['ID'] }}"><i class="fas fa-users-cog"></i></button></td>

              <!-- Modal -->
        <div id="myModal{{ lol['ID'] }}" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <p>Ban Account</p><a  class="btn btn-danger" href="{{ url_for('BanAccount',ID = lol['ID']) }}"><i class="fas fa-ban"></i></a>
                <br>
                <br>
                <p>UnBan Account</p><a  class="btn btn-success" href="{{ url_for('UnBanAccount',ID = lol['ID']) }}"><i class="fas fa-unlock"></i></a>

                <br>
                <br>

                <p>Force Password Change</p><a class="btn btn-dark" href="{{ url_for('ForcePasswordChangeAccount',ID = lol['ID']) }}"><i class="fas fa-key"></i></a>

                <br>
                <br>
                <p>Delete Account</p><a  class="btn btn-warning" href="{{ url_for('DeleteAccountFunc',ID = lol['ID']) }}"><i class="fas fa-user-slash"></i></a>

                <br>
                <br>
                <br>
                <br>
                <p>Send Alert Emails</p>
                <p>Too much login attempts</p><a  class="btn btn-warning" href="{{ url_for('EmailUserloginattempt',ID = lol['ID']) }}"><i class="fas fa-envelope"></i></a>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



{% endblock %}